.header {
  text-align: center;
  color: white;

  padding: var(--med) 0px;

  border-radius: var(--border-radius);
}

.header h1 {
  margin: 0px;
}

.main {
  background-color: var(--main);
}

.secondary {
  background-color: var(--secondary);
}